@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: "BoldestRomance";
  src: url("./assets/BoldestRomance.otf");
  font-style: normal;
  font-weight: 100 700;
}

@theme {
  /* Colors  */
  --color-background: #e3e0c8;
  --color-background-light: #f0f0e3;

  --color-primary: #593f0d;
  --color-primary-light: #b59d75;

  --color-secondary: #4e940f;
  --color-secondary-dark: #12452c;

  /* Fonts */
  --font-titles: "BoldestRomance", sans-serif;
  --font-fredoka: Fredoka, sans-serif;

  --background-image-header: url("/header1.jpg");
  --background-image-footer: url("/grassFooter.png");

  /* Breakpoints */
  --breakpoint-xs: 480px;
}

@layer base {
  .body {
    @apply flex flex-col min-h-screen
   bg-background font-fredoka;
  }

  #root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h1 {
    @apply font-titles;
  }

  h2 {
    @apply font-semibold text-2xl text-primary sm:text-3xl;
  }

  h3 {
    @apply font-semibold text-lg line-clamp-1;
  }

  header {
    @apply flex flex-col justify-between items-center relative p-5 h-85 lg:h-120;
  }

  header img {
    @apply w-full max-w-xs h-auto object-contain mx-auto;
  }

  header h1 {
    @apply text-center align-text-bottom text-6xl xs:text-7xl text-white drop-shadow-md/30 mx-auto max-w-4xl;
  }
}

@layer components {
  /* Home page header background */
  .pattern {
    @apply bg-header w-full bg-center bg-cover absolute h-[350px] lg:h-120 mask-b-from-75% mask-b-to-100%;
  }

  /* Wrapper around main contents of the site to keep them centered */
  .wrapper {
    @apply flex flex-col relative px-5 py-12 xs:p-10 max-w-7xl mx-auto;
  }

  /* Navigation bar at the top of the page */
  .navbar {
    @apply flex flex-row justify-evenly bg-secondary-dark font-semibold text-2xl text-white;

    & a {
      @apply hover:underline flex flex-row items-center gap-2;
    }

    & img {
      @apply h-5 w-5;
    }
  }

  /**
   * List of movies displayed as a grid in the Home page.
   * Number of columns increases with the window size.
   */
  .movie-list {
    & ul {
      @apply grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5;
    }
  }

  /* Represents a movie in the movie list. */
  .movie-card {
    @apply border-primary-light border-2 rounded-xl p-5 bg-background-light hoverButton animate-slide-in-bottom;
    box-shadow: 0 2px 0 0 var(--color-primary-light);
  }

  /* Search bar */
  .search {
    @apply w-full bg-background-light p-2 rounded-full border-primary-light border-2 my-5 max-w-3xl mx-auto;
    box-shadow: inset 0 2px 0 0 var(--color-primary-light);

    & input {
      @apply w-full py-2 pl-10 sm:pr-10 text-base text-primary placeholder-primary-light bg-transparent outline-hidden;
    }

    & .clearButton {
      @apply mr-2 px-2 py-0.5 rounded-full font-bold bg-secondary text-background-light hoverButton;
      box-shadow: 0 3px 0 0 var(--color-secondary-dark);
    }
  }

  /* Sort By dropdown menu */
  .dropdown-wrapper {
    @apply relative flex flex-row items-center justify-center gap-3 px-2 pb-5;

    & .dropdown-header {
      @apply flex flex-row py-1 px-5 w-auto items-center justify-between gap-5 rounded-full
      bg-background-light border-primary-light border-2 text-primary text-xl   hoverButton;
      box-shadow: 0 2px 0 0 var(--color-primary-light);
    }

    /* List of items that appears after clicking the dropdown button*/
    & .dropdown-list {
      @apply absolute top-[95%] flex flex-col rounded-xl p-1 justify-between items-start w-40
      bg-background-light border-primary-light border-2  text-primary text-xl cursor-pointer z-10;
      box-shadow: 0 2px 0 0 var(--color-primary-light);
    }

    /* Item in the dropdown list */
    & .dropdown-item {
      @apply hover:bg-primary-light/50 w-full text-left px-2 rounded-md cursor-pointer;
    }
  }

  /* Wrapper that contains all the info elements for a movie*/
  /* The same classes and styles are used in the About page */
  .movie-info {
    @apply flex flex-col p-6 xs:p-10 mx-auto lg:max-w-5xl rounded-4xl
    bg-background-light text-lg border-primary-light border-5;
    box-shadow: 0 8px 0 0 var(--color-primary-light);

    /* Each subsection in a movie's page (Overview and Info) */
    & .info-section {
      @apply bg-white/90 rounded-2xl  p-5;
    }

    & .info-section-title {
      @apply text-xl font-semibold text-white bg-secondary rounded-full py-3 px-6 ml-3;
    }

    /* Each item in the Info subsection of a movie's page (title, director, producer) */
    & .info-item {
      @apply flex flex-wrap py-2
      border-b-2 border-primary-light border-dotted;
    }

    & .info-item-title {
      @apply font-semibold text-primary pr-3;
    }
  }
}

@utility hoverButton {
  @apply cursor-pointer hover:scale-105 transition;
}
